@model Person

@* using bootstrap "div row"
        <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col">@Model.FirstName</div>
                <div class="col">@Model.LastName</div>
                <div class="col">@Model.PhoneNumber</div>
                <div class="col">@Model.Address</div>
                <div class="col">
                    <a asp-controller="People" asp-action="DeletePeople" asp-route-id=@Model.PersonID class="bodyTxt">Remove</a>
                </div>
                <div class="col-1">
                    <a asp-controller="People" asp-action="EditPeople" asp-route-id=@Model.PersonID class="bodyTxt">Edit</a>
                </div>
            </div>
        </div>
    </div>*@

@*using bootstrap table*@
<tr>
    <th scope="col">@Model.FirstName</th>
    <th scope="col">@Model.LastName</th>
    <th scope="col">@Model.PhoneNumber</th>
    <th scope="col">@Model.Address</th>
    <th scope="col">
        <a asp-controller="People" asp-action="DeletePeople" asp-route-id=@Model.PersonID class="bodyTxt">Remove</a>
    </th>
    <th scope="col">
        <a asp-controller="People" asp-action="EditPeople" asp-route-id=@Model.PersonID class="bodyTxt">Edit</a>
    </th>
</tr>
